@media screen and (max-width:480px){ 
    /*手順１*/
    header h1 {
        font-size: 15px;
    }
    .service {
      margin-left: 5px;
    }
    /*　ハンバーガーボタン　*/
.hamburger {
  display : none;
  position: fixed;
  z-index : 3;
  right : 13px;
  top   : 12px;
  width : 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
}
.hamburger span {
  display : block;
  position: absolute;
  width   : 30px;
  height  : 2px ;
  left    : 6px;
  background : #555;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition   : 0.5s ease-in-out;
  transition        : 0.5s ease-in-out;
}
.hamburger span:nth-child(1) {
  top: 10px;
}
.hamburger span:nth-child(2) {
  top: 20px;
}
.hamburger span:nth-child(3) {
  top: 30px;
}

/* ナビ開いてる時のボタン */
.hamburger.active span:nth-child(1) {
  top : 16px;
  left: 6px;
  background : #fff;
  -webkit-transform: rotate(315deg);
  -moz-transform   : rotate(315deg);
  transform        : rotate(315deg);
}

.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
  top: 16px;
  background : #fff;
  -webkit-transform: rotate(-315deg);
  -moz-transform   : rotate(-315deg);
  transform        : rotate(-315deg);
}

nav.globalMenuSp {
  position: fixed;
  z-index : 2;
  top  : 0;
  left : 0;
  color: #fff;
  background: rgba(0,0,0,0.7);
  text-align: center;
  width: 100%;
  opacity: 0;
  visibility: hidden;
}


nav.globalMenuSp ul {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 350px;
}

nav.globalMenuSp ul li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  transition: .4s all;
}
nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
}
nav.globalMenuSp ul li:hover{
  background :#ddd;
}

nav.globalMenuSp ul li a {
  display: block;
  color: #fff;
  padding: 1em 0;
  text-decoration :none;
}

/* このクラスを、jQueryで付与・削除する */
nav.globalMenuSp.active {
  opacity: 100;
  visibility: visible;
}
/*TOP-TEXT*/
.reveal-text {
font-size: 10px;
opacity: 0.5;
}
/**/

.aboutme-box {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 35px;
  margin-left: 35px;
  color: #474747;
  background: whitesmoke;/*背景色*/
  border-left: double 7px #4ec4d3;/*左線*/
  border-right: double 7px #4ec4d3;/*右線*/
}
.service-contents {
  display: flex;
  flex-direction: column;
}
/*SERVICE*/
.service-box {
  margin-bottom: 50px;
}
/*CONTACT*/
p {
  font-size: 12px;
}
/*CONTACT-BTN*/
.btn--orange,
a.btn--orange {
  color: #fff;
  background-color: #eb6100;
}
.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: #f56500;
}

.fa-position-left {
  position: absolute;
  top: calc(50% - .5em);
  left: 1rem;
}
}
  
